@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 237 45% 15%;

    --card: 0 0% 100%;
    --card-foreground: 237 45% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 237 45% 15%;

    --primary: 237 55% 15%;
    --primary-foreground: 0 0% 100%;

    --secondary: 45 90% 75%;
    --secondary-foreground: 237 55% 15%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 45 95% 68%;
    --accent-foreground: 237 55% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 237 55% 15%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 237 55% 10%;
    --foreground: 0 0% 98%;

    --card: 237 50% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 237 55% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 237 55% 15%;

    --secondary: 45 90% 75%;
    --secondary-foreground: 237 55% 15%;

    --muted: 237 40% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 45 95% 68%;
    --accent-foreground: 237 55% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 237 40% 20%;
    --input: 237 40% 20%;
    --ring: 45 95% 68%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
